USE [ITMat]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 25-01-2018 10:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[Stabsnummer] [nvarchar](255) NULL,
	[MANR] [nvarchar](255) NULL,
	[Fornavn] [nvarchar](255) NULL,
	[Efternavn] [nvarchar](255) NULL,
	[Telefon] [nvarchar](255) NULL
) ON [PRIMARY]

GO
